@media screen and (max-width: 1000px){
    .heroContainer{
        display: block !important;
    }
    .heroLeft{
        width: 100% !important;
        height: 30%;
        position: relative;
    }
    .heroRight{
        height: 70% !important;
        position: relative !important;
        top: -50px;
    }
}
.hero{
    height: 100vh;
    align-content: center;
    margin-top: 5%;
    background: linear-gradient(to bottom, #08519C, #3182bd);
    nav{
        height: 6%;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: white;
        border-bottom: 1px solid grey;
        z-index: 10;
    background: linear-gradient(to bottom, #05325f, #08519C);
        .heroNav{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            a{
                color: black;
                text-decoration: none;
                transition-property: text-decoration;
                &:hover{
                    color: blue;
                    transition: 600ms;
                }
            }
        }
    }
}
.heroContainer{
    height: 95%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
    text-align: center;
    .heroLeft{
        display: grid;
        grid-template-rows: 10% 80%;
        z-index: 9;
        width: 130%;
        .subHeader{
            color: blue;
            font: {
                size: 4vh;
                family: "New Amsterdam";
            }
        }
        h1{
            font: {
                size: 8vh;
                family: "Shizuru"
            }
        }
    }
    .heroRight{
        background-image: url('../../../public/hero-pro.avif');
        background-size: cover;
        background-position-x: -45px;
        border-radius: 50%;
        height: 180%;
        position: relative;
        bottom: 120px;
        z-index: 1;
    }
}