.hero{
    border: 1px solid black;
    height: 800px;
    text-align: center;
    align-content: center;
}
.heroContainer{
    border: 1px solid black;
    height: 90%;
    display: grid;
    grid-template-rows: 80% 20%;
    .heroHeading{
        align-content: center;
        font: {
            size: 3em;
        }
    }
    .heroLinks{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            border: 1px solid black;
            border-radius: 20px;
            padding: 10px 5px;
            height: 30%;
            width: 150px;
            
        }
    }
}