.hero{
    height: 100vh;
    width: 100%;
    text-align: center;
    align-content: center;
    nav{
        height: 6%;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: white;
        border-bottom: 1px solid grey;
        .heroNav{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            a{
                color: black;
                text-decoration: none;
            }
        }
    }
}
.heroContainer{
    height: 90%;
    .heroHeading{
        align-content: center;
        height: 80%;
        font: {
            size: 3em;
        }
    }
    .heroLinks{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
            border: 1px solid black;
            border-radius: 20px;
            padding: 5px;
            width: 150px;
            
        }
    }
}