.skills{
    align-content: center;
    height: 100vh;
    background-color: #6baed6;
}
.skillsContainer{
    height: 90%;
        align-content: center;
    .skillBlock{
        max-width: 800px;
        min-height: 500px;
        margin: auto;
        align-content: center;

        .skillList{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            details{
                background-color: white;
            }
            .skill{
                border: 1px solid black;
                border-radius: 20px;
                width: 140px;
                height: 50px;
                margin: 5px;
                text-align: center;
                font: {
                    weight: 800;
                }
            }
        }
    }
}