.skills{
    align-content: center;
    height: 100vh;
}
.skillsContainer{
    height: 90%;
        align-content: center;
    .skillBlock{
        border: 1px solid red;
        margin: auto;

        .skillList{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            .skill{
                border: 1px solid black;
                width: 150px;
                margin: 5px;
                padding: 5px;
                text-align: center;
            }
        }
    }
}