@media screen and (max-width: 1000px){
    .aboutBlock{
        display: block !important;
        p{
            border: 1px solid purple;
            height: 200px;
        }
    }
        .one{
            border: 1px solid red;
            position: relative;
            bottom: 200px;
        }
        .three{
            border: 1px solid red;
            position: relative;
            top: 200px;
        }
}
.about{
    height: 100vh;
    align-content: center;
}
.aboutContainer{
    height: 90%;
    .aboutBlock{
        align-content: center;
        border: 1px solid red;
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}