@media screen and (max-width: 1000px){
    .aboutBlock{
        display: block !important;
        p{
            border: 1px solid purple;
            height: 200px;
        }
    }
        .one{
            border: 1px solid red;
            position: relative;
            bottom: 200px;
        }
        .three{
            border: 1px solid red;
            position: relative;
            top: 200px;
        }
}
.about{
    height: 100vh;
    align-content: center;
    background-color: #3182bd;
    background: linear-gradient(to bottom, #3182bd, #6baed6);
}
.aboutContainer{
    height: 100%;
    .aboutBlock{
        align-content: center;
        padding-top: 40px;
        height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}