.about{
    height: 100vh;
    align-content: center;
}
.aboutContainer{
    height: 100%;
    .aboutBlock{
        height: 90%;
        align-content: center;
        font: {
            size: 1.5em;
        }
    }
}