.contact{
    height: 120vh;
    align-content: center;
}
/*
a[href^="mailto"]::before{
    content: " ✉️ ";
}
a[href^="tel"]::before{
    content: " 📞 ";
}
*/
.contactContainer{
    height: 100%;
    text-align: center;

    .contactForm{
        padding: 20px;
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-rows: 10% 40% 30% 10%;
        .userInput > div{
            width: 250px;
            margin: auto;
            input{
                width: 200px;
            }
        }
        textarea, .submit{
            width: 60%;
            margin: auto;
        }
    }

    .addressLinks{
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        width: 100%;
        align-items: center;
        > div{
            border: 1px solid black;
            height: 150px;
            width: 150px;
            align-content: center;
        }
    }
}