.contact{
    height: 120vh;
    align-content: center;
    background-color: #6baed6;
}
/*
a[href^="mailto"]::before{
    content: " ✉️ ";
}
a[href^="tel"]::before{
    content: " 📞 ";
}
*/
.contactContainer{
    height: 100%;
    text-align: center;

    .contactForm{
        box-shadow: 1px 1px 10px grey;
        padding: 20px;
            min-width: 390px;
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-rows: 10% 40% 30% 10%;
        .userInput > div{
            width: 250px;
            margin: 10px auto;
            input{
                width: 200px;
            }
        }
        textarea, .submit{
            width: 60%;
            min-width: 350px;
            margin: 5px auto;
        }
        .submit{
            &:hover{
                cursor: pointer;
            }
        }
    }

    .addressLinks{
        height: 200px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        width: 100%;
        align-items: center;
        > div{
            box-shadow: 1px 1px 10px grey;
            height: 150px;
            width: 150px;
            align-content: center;
            background-color: whitesmoke;
        }
    }
}