body{
  width: 100%;
}
html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  color: whitesmoke;
  text-shadow: 1px 1px 1px blue;
}
nav{
  font-family: "New Amsterdam";
  position: relative;
  right: 0px;
}
section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding: 30px;
  h2{
    font-family: "New Amsterdam";
    color: blue;
    font-size: 2.3em;
    text-shadow: 1px 1px 10px lightgrey;
  }
  p{
    font-family: "Rambla";
  }
}
