body{
  width: 100%;
  border: 2px solid red;
}
html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 5%;
}
section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}